.top-header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.top-header-wrapper img{
    width: 150px;
}

.top-header-wrapper ul{
    display: flex;
}

.top-header-wrapper ul li {
    list-style-type: none;
    margin: 8px;
}

.top-header-wrapper ul li a{
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
}

.upper-footer{
    display: flex;
    justify-content: center;
}

.lower-footer{
    display: flex;
    justify-content: space-around;
}

.lower-footer ul li {
    list-style-type: none;
    margin: 8px 0;
}

.lower-footer ul li a{
    text-decoration: none;
    color: rgb(29, 27, 27);
}

.lower-footer ul li a img{
    width: 200px;
}

.lower-footer ul li a:hover{
    text-decoration: underline;
}

.nav-item .nav-link{
    text-transform: uppercase;
    font-weight: bold;
}

.p-detail .btn{
    border-radius: 0%;
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.sidebar-wrapper{
    position: fixed;
    right: 0;
    width: 25%;
    background-color: #fff;
    height: 100%;

}

.sidebar-head{
    display: flex;
    background-color: #222;
    width: 100%;
    padding: 4px 0;
    justify-content: space-around;
    align-items: center;

}
.sidebar-head .head-item h3{
    color: #fff;
}

.sidebar-head .head-item h4{
    color: #fff;
}
